menu {
  width: 100%;
  justify-content: space-between;
  padding: 1.75rem var(--sidepad);

  nav {
    align-items: center;
    gap: 2rem;
    
    a {
      color: var(--gray);      
    }

    a:hover {
      color: var(--white);
    }
  }

  a img {
    width: 17rem;
    height: 3.7rem;
    color: var(--gray); 
  }

  div {
    align-items: center;
    gap: 2rem;
  }
}