menu {
  width: 100%;
  justify-content: space-between;
  padding: 1.75rem var(--sidepad);

  border-bottom: 1px solid var(--black);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

  @media (orientation: portrait) {
    display: none;
  }

  nav {
    align-items: center;
    gap: 2rem;
    
    a {
      color: var(--gray);      
    }

    a:hover, .item-nav-click {
      color: var(--white);
    }
  }

  a img {
    width: 17rem;
    height: 3.7rem;
    color: var(--gray); 
  }

  div {
    align-items: center;
    gap: 2rem;
  }
}